<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

	<root level="warn">
		<appender-ref ref="Console" />
	</root>

	<logger name="hu.gaszabo.template" level="debug" additivity="false">
		<appender-ref ref="Console" />
	</logger>
	
	<logger name="org.springframework.security" level="warn" additivity="false">
		<appender-ref ref="Console" />
	</logger>
	
	<logger name="org.springframework.web" level="warn" additivity="false">
		<appender-ref ref="Console" />
	</logger>

</configuration>